body {
  background-color: #F6F7F6;
  a {
    text-decoration: none;
    color: black;
  }
}

#main-root {
  letter-spacing: 2px;
  .custom-btn {
    width: 280px;
    border-radius: 5px;
    background-color: #E6E7E6;
    margin: 80px auto 0;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: #666666;
  }

  #entry-index {
    padding: 20px;
    .title {
      font-size: 22px;
      font-weight: bold;
    }

    .subtitle {
      font-size: 16px;
      margin-top: 20px;
    }

    .entry-block {
      background-color: white;
      line-height: 70px;
      box-shadow: 0 2px 2px 0 rgba(#333333, .2);
      font-size: 16px;
      color: #333333;

      margin-top: 20px;
      border-radius: 15px;
      padding-left: 15px;
      .desc, .answer {
        margin-top: 20px;
      }
    }
  }

  #test-show {
    .header {
      background-color: white;
      box-shadow: 0 2px 2px 0 rgba(#333333, .2);
      line-height: 50px;
      font-size: 16px;
      position: relative;
      text-align: center;
      .back {
        position: absolute;
        left: 20px;
        color: #999999;
        font-size: 18px;
      }
    }
  }
  #question-show {
    padding: 20px;

    .question {
      font-size: 16px;
    }

    .option {
      font-size: 15px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      i {
        line-height: 20px;
        font-size: 20px;
        color: #999999;
      }
      & > span {
        flex: 1;
        margin-left: 10px;
      }
    }
  }

  .result-container {
    padding: 20px;
    .result {
      text-align: center;
      font-size: 20px;
      color: #333333;
    }
  }
}
