$theme-blue: rgb(129, 216, 206);

body {
  background-color: $theme-blue !important;

  a {
    text-decoration: none;
    color: black;
  }
}

#main-root {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: auto;
}

.entry-block {
  margin-bottom: 20px;
  border: 1px solid blue;
  padding: 10px;
  .desc, .answer {
    margin-top: 20px;
  }
}

#question-show {
  .options {
    margin-top: 20px;
  }

  .option {
    &.checked {
      color: red;
    }
  }
}
